// DataCollectionPage.scss
$grey: #babfb7;
$orange: #fe5000;
$offorange: #ff6f00;
$blue: #00243e;
$offblue: #02355b;
$offwhite: #FAF9F6;
$owHighlight: #ffffff;
$tHighlight: #f2f2f2;
$offBlack: #1D1C1B;


.data-collection-page {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 16px 12px 24px;
	background-color: $blue;

	.data-collection-form {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;

		.header {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: $blue;
			width: 100%;
			margin-bottom: 16px;

			.logo {
				display: flex;
				justify-content: center;
			}

			.analytics {
				display: flex;
				justify-content: center;
				margin-left: auto;

				@media (max-width: 768px) {
					display: none;
				}
			}
		}
	}

	#scout-team-number, #match-number {
		color: $offwhite;
		width: 10em;
		max-width: 100%;
	}

	.counter-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 15px;
	}

	.counter-names {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 84px;
		height: 32px;
		padding: 0 4px;
		color: $offwhite;
		font-size: 14px;
		line-height: 32px;
	}

	.counter-button {
		color: white;
		background: #fe5000;
		width: 56px;
		height: 36px;
		border-radius: 4px;
		border: none;
		font-size: 20px;
		font-weight: 600;
	}

	.counter-value {
		padding: 0 4px;
		margin-bottom: 15px;
		color: $offwhite;
		text-align: center;
		width: 85px;
		height: 36px;
		line-height: 36px;
	}

	.climb-name {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 15px;
		background-color: $blue;
	}

	.section-title {
		font-size: 40px;
		margin-bottom: 20px;
		color: $orange;
	}

	.objective-label {
		font-size: 1.5em;
		margin-bottom: 15px;
		color: $offwhite;
	}

	.toggle-button-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 12px;
		margin-bottom: 16px;

		.toggle-button {
			border-radius: 4px;
			height: 36px;
			min-width: 72px;
			color: $grey;
			border-color: $grey;
			background-color: transparent;

			&.Mui-selected {
				color: #fff;
				background-color: $orange;
				border: 0;
			}
		}

		.alliance-toggle {
			border-radius: 4px;
			height: 36px;
			min-width: 136px;
			margin-top: 16px;
			color: $grey;
			border-color: $grey;
			background-color: transparent;

			&.Mui-selected {
				color: #fff;
				border: 0;

				&.red {
					background-color: #aa3333;
				}

				&.blue {
					background-color: #2255cc;
				}
			}
		}
	}

	.action-area {
		display: flex;
		column-gap: 12px;
		margin-top: 40px;

		button {
			width: 4.5em;
			height: 2.25em;
			border-radius: 5px;
			font-size: 1rem;
			box-sizing: border-box;
		}

		.back-button {
			color: $orange;
			border: 1px solid $orange;
			background-color: transparent;
		}

		.submit-button {
			color: #fff;
			border: none;
			background-color: $orange;

			&:disabled {
				background-color: #444;
				opacity: 0.6;
			}
		}
	}

}
